chainlit==2.3.0
sentence_transformers==3.0.1
torch==2.7.0
qdrant_client==1.10.1
langchain==0.3.25
langdetect==1.0.9
sqlalchemy==1.4.22
asyncpg==0.30.0
langchain_community==0.3.24
langchain-together==0.3.0
